/* CryptoPriceList.css */
.crypto-item {
  display: inline-block;
  margin-right: 20px; /* Adjust the spacing between items as needed */
}

.green {
  color: green;
}

.red {
  color: red;
}

.crypto-price-list-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50px; /* Adjust the height as needed */
}

.crypto-price-list {
  list-style: none;
  padding: 0;
  white-space: nowrap;
  animation: marquee 40s linear infinite; /* Adjust the animation duration and speed as needed */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  border-bottom: 0.5px solid black;
}

header > nav > ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}
#login {
  background-color: #00d094;
  padding: 20px 40px;
  border-radius: 10px;
}

#login:hover {
  background-color: #019e71;
}